@page "/"
@using MicroGauge.Blazor
@using MicroGauge.Constant
@using SkiaSharp

<PageTitle>MicroGauge Blazor Examples</PageTitle>
@* ReSharper disable InconsistentNaming *@
@code
{
    readonly GaugeBrush BrushBacking = new(SKColor.Parse("#333333"));
    readonly GaugeBrush BrushBorder = new(SKColor.Parse("#282828"));
    readonly GaugeBrush BrushLightBLue = new(SKColor.Parse("#0096ff"));
    readonly GaugeBrush BrushLimeGreen = new(SKColor.Parse("#aaff00"));
    readonly GaugeBrush BrushGreen = new(SKColor.Parse("#57E700"));
    readonly GaugeBrush BrushYellow = new(SKColor.Parse("#FFE000"));
    readonly GaugeBrush BrushMidGray = new(SKColor.Parse("#727272"));
    readonly GaugeBrush BrushDarkGray = new(SKColor.Parse("#4d4d4d"));
    readonly GaugeBrush BrushBurntOrange = new(SKColor.Parse("#f28c28"));

    readonly GaugeBrush BrushBlueWhite = new()
    {

        GradientStops =
        [
            new GaugeBrushStop(SKColor.Parse("#40FFFFFF"), 0),
            new GaugeBrushStop(SKColor.Parse("#700067E5"), 0.5f)
        ]
    };

    readonly GaugeBrush BrushPressure = new()
    {

        GradientStops =
        [
            new GaugeBrushStop(SKColor.Parse("#00FFFFFF"), 0),
            new GaugeBrushStop(SKColor.Parse("#FFFF2020"), 0.65f),
            new GaugeBrushStop(SKColor.Parse("#FFFF2020"), 0.8f)
        ]
    };

    readonly GaugeBrush BrushGreenYellowRed = new()
    {

        GradientStops =
        [
            new GaugeBrushStop(SKColor.Parse("#4000E000"), 0),
            new GaugeBrushStop(SKColor.Parse("#40E5F000"), 0.4f),
            new GaugeBrushStop(SKColor.Parse("#40FF2020"), 0.8f)
        ]
    };

    readonly GaugeBrush BrushIceToSun = new()
    {

        GradientStops =
        [
            new GaugeBrushStop(SKColor.Parse("#cce5ec"), 0),
            new GaugeBrushStop(SKColor.Parse("#88abd1"), 0.3f),
            new GaugeBrushStop(SKColor.Parse("#80a862"), 0.5f),
            new GaugeBrushStop(SKColor.Parse("#FF2020"), 0.8f)
        ]
    };

    readonly GaugeBrush BrushBattery = new()
    {

        GradientStops =
        [
            new GaugeBrushStop(SKColor.Parse("#FF2020"), 0),
            new GaugeBrushStop(SKColor.Parse("#E5F000"), 0.7f),
            new GaugeBrushStop(SKColor.Parse("#008000"), 0.9f)

        ]
    };


}

<div class="container gauge-container">
    <div class="row flex-grow-1 gauge-row">
        <!--WindSpeed-->
        <div class="col-6 d-flex flex-column">
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Wind Speed
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (No Tail)
                    </div>
                </div>
                <div class="row flex-grow-1 ">
                    <div class="col d-flex flex-column gauge-div">
                        <BlazorGaugeRadial BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="15f"
                                           MinValue="0"
                                           MaxValue="30"
                                           TickInterval="5"
                                           LabelInterval="5"
                                           LabelExtent=".85f"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="BrushYellow"
                                           LabelFontWeight="SKFontStyleWeight.SemiBold"
                                           ValueExtent=".60f"
                                           ValueFormatString="{0:N0} MPH"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="BrushYellow"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           ValueLocation="GaugeValueLocation.BottomCenter"
                                           TickBrush="GaugeBrushes.White"
                                           TickStrokeWidth="2"
                                           TickStartExtent="0.6f"
                                           TickEndExtent="0.7f"
                                           MinorTickBrush="GaugeBrushes.Gray"
                                           MinorTickStartExtent="0.65f"
                                           MinorTickEndExtent="0.7f"
                                           MinorTickStrokeWidth="1"
                                           ScaleStartAngle="210"
                                           ScaleEndAngle="330"
                                           NeedleBrush="BrushYellow"
                                           NeedlePivotBrush="BrushDarkGray"
                                           NeedlePivotOutlineBrush="BrushYellow"
                                           NeedlePivotEndExtent="0.15f"
                                           NeedleEndExtent="0.71f"
                                           NeedleEndWidth="3"
                                           RangeBrush="BrushGreenYellowRed"
                                           RangeInnerStartExtent="0.6f"
                                           RangeInnerEndExtent="0.6f"
                                           RangeOuterStartExtent="0.6f"
                                           RangeOuterEndExtent="0.71f" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex flex-column">
            <!--Humidity (No Minor)-->
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Humidity
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (No Minor)
                    </div>
                </div>
                <div class="row flex-grow-1 ">
                    <div class="col d-flex flex-column gauge-div">
                        <BlazorGaugeRadial BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="7"
                                           Value="50"
                                           MinValue="0"
                                           MaxValue="100"
                                           TickInterval="10"
                                           MinorTickInterval="10"
                                           LabelInterval="10"
                                           LabelExtent=".85f"
                                           LabelFormatString="{0:N0}%"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.White"
                                           ValueFormatString="{0:N0}%"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="GaugeBrushes.White"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="GaugeBrushes.White"
                                           TickStrokeWidth="1"
                                           TickStartExtent="0.6f"
                                           TickEndExtent="0.7f"
                                           MinorTickBrush="BrushMidGray"
                                           ScaleStartAngle="210"
                                           ScaleEndAngle="330"
                                           NeedleBrush="BrushLightBLue"
                                           NeedlePivotBrush="BrushLightBLue"
                                           NeedlePivotOutlineBrush="GaugeBrushes.White"
                                           NeedleOutlineBrush="GaugeBrushes.White"
                                           NeedleOutlineWidth="2"
                                           NeedleStartExtent="-0.2f"
                                           NeedleStartWidth="4"
                                           NeedleEndWidth="2"
                                           RangeBrush="BrushBlueWhite"
                                           RangeInnerStartExtent="0.6f"
                                           RangeInnerEndExtent="0.6f"
                                           RangeOuterStartExtent="0.6f"
                                           RangeOuterEndExtent="0.71f" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row flex-grow-1 gauge-row">
        <div class="col-6 d-flex flex-column">
            <!--Pressure (Set Indicator)-->
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Pressure
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (Set Indicator)
                    </div>
                </div>
                <div class="row flex-grow-1 ">
                    <div class="col d-flex flex-column gauge-div">
                        <BlazorGaugeRadial BackingBrush="GaugeBrushes.White"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="400"
                                           MinValue="0"
                                           MaxValue="1000"
                                           TickInterval="100"
                                           MinorTickInterval="50"
                                           LabelInterval="100"
                                           LabelExtent=".79f"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.Black"
                                           ValueFormatString="{0:N0} PSI"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="GaugeBrushes.Black"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="GaugeBrushes.Black"
                                           TickStrokeWidth="2"
                                           TickStartExtent="0.6f"
                                           TickEndExtent="0.7f"
                                           MinorTickBrush="GaugeBrushes.Gray"
                                           MinorTickStartExtent="0.65f"
                                           MinorTickEndExtent="0.7f"
                                           ScaleStartAngle="210"
                                           ScaleEndAngle="330"
                                           NeedleBrush="GaugeBrushes.Black"
                                           NeedlePivotBrush="GaugeBrushes.Silver"
                                           NeedlePivotOutlineBrush="GaugeBrushes.Black"
                                           NeedleStartExtent="-0.2f"
                                           NeedleEndExtent="0.71f"
                                           SetNeedleValue="700"
                                           SetNeedleBrush="BrushYellow"
                                           SetNeedleOutlineWidth="2"
                                           SetNeedleOutlineBrush="GaugeBrushes.Black"
                                           SetNeedleStartExtent="0"
                                           SetNeedleEndExtent="0.7f"
                                           SetNeedleStartWidth="3"
                                           SetNeedleEndWidth="2"
                                           RangeBrush="BrushPressure"
                                           RangeInnerStartExtent="0.6f"
                                           RangeInnerEndExtent="0.6f"
                                           RangeOuterStartExtent="0.7f"
                                           RangeOuterEndExtent="0.7f" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 d-flex flex-column">
            <!--Flow Rate (Notch)-->
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Flow Rate
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (Notch)
                    </div>
                </div>
                <div class="row flex-grow-1 ">
                    <div class="col d-flex flex-column gauge-div">
                        <BlazorGaugeRadial RadialStyle="@GaugeRadialStyle.Notch"
                                           BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="4000"
                                           MinValue="0"
                                           MaxValue="10000"
                                           TickInterval="1000"
                                           MinorTickInterval="500"
                                           LabelInterval="1000"
                                           LabelExtent=".8f"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.White"
                                           ValueFormatString="{0:N0} LPM"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="16"
                                           ValueFontBrush="GaugeBrushes.White"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="GaugeBrushes.White"
                                           TickStrokeWidth="2"
                                           TickStartExtent="0.55f"
                                           TickEndExtent="0.65f"
                                           MinorTickBrush="GaugeBrushes.Gray"
                                           MinorTickStartExtent="0.45f"
                                           MinorTickEndExtent="0.65f"
                                           ScaleStartAngle="210"
                                           ScaleEndAngle="330"
                                           NeedleBrush="BrushLightBLue"
                                           NeedlePivotBrush="BrushDarkGray"
                                           NeedlePivotOutlineBrush="BrushLightBLue"
                                           NeedleStartExtent="-0.2f"
                                           NeedleEndExtent="0.71f"
                                           NeedleEndWidth="3" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row flex-grow-1 gauge-row">
        <div class="col-6 d-flex flex-column">
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Temperature
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (Half)
                    </div>
                </div>
                <div class="row">
                    <div class="col gauge-div">
                        <BlazorGaugeRadial RadialStyle="GaugeRadialStyle.Half"
                                           BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="30"
                                           MinValue="-20"
                                           MaxValue="40"
                                           TickInterval="10"
                                           MinorTickInterval="5"
                                           LabelInterval="10"
                                           LabelExtent=".8f"
                                           LabelFormatString="{0:N0}°C"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.White"
                                           ValueExtent="-.10f"
                                           ValueFormatString="{0:N0}°C"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="GaugeBrushes.Black"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="GaugeBrushes.White"
                                           TickStrokeWidth="2"
                                           TickStartExtent="0.6f"
                                           TickEndExtent="0.7f"
                                           MinorTickBrush="GaugeBrushes.Gray"
                                           MinorTickStartExtent="0.65f"
                                           MinorTickEndExtent="0.7f"
                                           ScaleStartAngle="180"
                                           ScaleEndAngle="360"
                                           NeedleBrush="BrushLimeGreen"
                                           NeedlePivotBrush="BrushLimeGreen"
                                           NeedlePivotOutlineBrush="BrushLimeGreen"
                                           NeedlePivotOutlineWidth="0"
                                           NeedlePivotEndExtent="0.25f"
                                           NeedleStartExtent="0"
                                           NeedleEndExtent="0.71f"
                                           NeedleStartWidth="2"
                                           NeedleEndWidth="1"
                                           RangeBrush="BrushIceToSun"
                                           RangeInnerStartExtent="0.6f"
                                           RangeInnerEndExtent="0.6f"
                                           RangeOuterStartExtent="0.6f"
                                           RangeOuterEndExtent="0.71f" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex flex-column">
            <!--Battery (Horizontal/Set Indicator)-->
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Battery
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (Horizontal/Set Indicator)
                    </div>
                </div>
                <div class="row">
                    <div class="col gauge-div">
                        <BlazorGaugeLinear BottomExtent="0.0f"
                                           TopExtent="0.0f"
                                           LeftExtent="0.06f"
                                           RightExtent="0.06f"
                                           BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="90"
                                           MinValue="0"
                                           MaxValue="100"
                                           TickInterval="10"
                                           MinorTickInterval="5"
                                           LabelInterval="20"
                                           LabelExtent=".74f"
                                           LabelFormatString="{0:N0}%"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.White"
                                           ValueLocation="GaugeValueLocation.BottomCenter"
                                           ValueExtent="0.40f"
                                           ValueFormatString="{0:N0}%"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="GaugeBrushes.White"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="GaugeBrushes.White"
                                           TickStrokeWidth="1"
                                           MinorTickBrush="BrushMidGray"
                                           ValueWidthExtent="0.5f"
                                           TickWidthExtent="0.6f"
                                           MinorTickWidthExtent="0.5f"
                                           NeedleBrush="GaugeBrushes.White"
                                           NeedleStartWidth="12"
                                           NeedleEndWidth="1"
                                           NeedleStartExtent="0.15f"
                                           NeedleEndExtent="0.25f"
                                           SetNeedleValue="60"
                                           SetNeedleBrush="GaugeBrushes.Red"
                                           SetNeedleStartExtent="0.2f"
                                           SetNeedleEndExtent="0.8f"
                                           SetNeedleStartWidth="2"
                                           SetNeedleEndWidth="2"
                                           ValueBarBrush="BrushBattery" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row flex-grow-1 gauge-row">
        <div class="col-6 d-flex flex-column">
            <!--Valve-->
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Valve
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (Vertical)
                    </div>
                </div>
                <div class="row flex-grow-1">
                    <div class="col d-flex flex-column gauge-skinny-container ">
                        <BlazorGaugeLinear BottomExtent="0.15f"
                                           TopExtent="0.06f"
                                           LeftExtent="0.0f"
                                           RightExtent="0.0f"
                                           BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="95"
                                           MinValue="0"
                                           MaxValue="100"
                                           TickInterval="10"
                                           MinorTickInterval="5"
                                           LabelInterval="10"
                                           LabelExtent=".74f"
                                           LabelFormatString="{0:N0}%"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.White"
                                           ValueLocation="GaugeValueLocation.BottomCenter"
                                           ValueExtent="0.08f"
                                           ValueFormatString="{0:N0}%"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="GaugeBrushes.White"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="GaugeBrushes.White"
                                           TickStrokeWidth="1"
                                           MinorTickBrush="BrushMidGray"
                                           ValueWidthExtent="0.5f"
                                           TickWidthExtent="0.6f"
                                           MinorTickWidthExtent="0.5f"
                                           IsVertical="true"
                                           NeedleBrush="BrushGreen"
                                           NeedleStartWidth="12"
                                           NeedleEndWidth="1"
                                           NeedleStartExtent="0.1f"
                                           NeedleEndExtent="0.25f"
                                           ValueBarBrush="BrushGreen" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 d-flex flex-column">
            <!--Wind Direction (360)-->
            <div class="container ">
                <div class="row">
                    <div class="col text-center gauge-label">
                        Wind Direction
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gauge-note">
                        (360)
                    </div>
                </div>
                <div class="row flex-grow-1 ">
                    <div class="col d-flex flex-column gauge-div">
                        <BlazorGaugeRadial BottomExtent="0.1f"
                                           TopExtent="0.0f"
                                           LeftExtent="0.0f"
                                           RightExtent="0.0f"
                                           BackingBrush="BrushBacking"
                                           BackingOutlineBrush="BrushBorder"
                                           BackingStrokeWidth="10"
                                           Value="45"
                                           MinValue="0"
                                           MaxValue="360"
                                           TickInterval="22.5f"
                                           LabelInterval="45"
                                           LabelExtent=".8f"
                                           LabelFormatString="{0:N0}°"
                                           LabelFontFamily="OpenSans"
                                           LabelFontSize="10"
                                           LabelFontBrush="GaugeBrushes.White"
                                           ValueExtent="1.15f"
                                           ValueFormatString="{0:N0}°"
                                           ValueFontFamily="OpenSans"
                                           ValueFontSize="20"
                                           ValueFontBrush="GaugeBrushes.White"
                                           ValueFontWeight="SKFontStyleWeight.SemiBold"
                                           TickBrush="BrushBurntOrange"
                                           TickStrokeWidth="2"
                                           TickStartExtent="0.6f"
                                           TickEndExtent="0.7f"
                                           MinorTickBrush="BrushBacking"
                                           MinorTickStartExtent="0.65f"
                                           MinorTickEndExtent="0.7f"
                                           ScaleStartAngle="90"
                                           ScaleEndAngle="90"
                                           NeedleBrush="BrushBurntOrange"
                                           NeedlePivotBrush="BrushDarkGray"
                                           NeedlePivotOutlineBrush="BrushBurntOrange"
                                           NeedleStartExtent="-0.2f"
                                           NeedleEndExtent="0.71f" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>