@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            MicroGauge Blazor Examples
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>